/* You can add global styles to this file, and also import other style files */
.mt-0_2{
    margin-top: 1.3%;
}

.mt-0_5{
    margin-top: 2.5%;
}

.mt-1_5{
    margin-top: 5%;
}

.mt-2_1{
    margin-top: 8%;
}

.mt-2_5{
    margin-top: 10%;
}

.mt-3_5{
    margin-top: 15%;
}

.bg-serious{
    background: #454DC5;
background: -moz-linear-gradient(left, #454DC5 0%, #3A3CDE 50%, #454DC5 100%);
background: -webkit-linear-gradient(left, #454DC5 0%, #3A3CDE 50%, #454DC5 100%);
background: linear-gradient(to right, #454DC5 0%, #3A3CDE 50%, #454DC5 100%);
}

.ml-1{
    margin-left: 5%;
}


.ml-2{
    margin-left: 10%;
}

.mb-1{
    margin-bottom: 5px;
}

.d-flex{
    display: flex;
}

.pl-0{
    padding-left: 0 !important;
}

.pl-10{
    padding-left: 10px !important;
}

.pl-20{
    padding-left: 20px !important;
}

.pl-25{
    padding-left: 25px !important;
}

.text-sm{
    font-size: 1.3vw !important;
}

.ft-w-bold{
    font-weight: bold;
}

.ft-w-bolder{
    font-weight: bolder;
}

.font-xs{
    font-size: 0.9vw !important;
}

.d-n{
    display: none;
}

span.badge.new:after {
    content: "" !important;
}

/* Travel */
.slider .btn {
  margin-top: 20px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 30px;
}
