<app-home></app-home>
<div class="container">
    <div class="row">
        <div class="col s6">
            <div class="card white" style="margin-top: 8%;">
                <div class="card-content white-text">
                    <article class="card-title black-text center">
                        <b>Nuevo Paquete de Viaje</b>
                    </article>
                    <form #travelForm="ngForm" (ngSubmit)="addTravel(travelForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="travelService.selectedTravel._id">

                        <div class="row">
                            <div class="input-fields col s12">
                                <label for="placeName" class="left">Lugar de viaje</label>
                                <input class="validate" type="text" id="placeName" name="placeName" #placeName="ngModel"
                                    [(ngModel)]="travelService.selectedTravel.placeName" placeholder="Sitio de visita">
                            </div>

                            <div class="input-fields col s12">
                                <label for="places" class="left">Sitios turísticos</label>

                                <textarea data-length="120" id="places" name="places" #places="ngModel"
                                    [(ngModel)]="travelService.selectedTravel.places" placeholder="Lugares turisticos"
                                    class="materialize-textarea validate"></textarea>
                            </div>

                            <div class="input-fields col s12">
                                <label for="toDo" class="left">Actividades para hacer</label>

                                <textarea data-length="120" id="toDo" name="toDo" #toDo="ngModel"
                                    [(ngModel)]="travelService.selectedTravel.toDo"
                                    placeholder="Cosas por hacer en el viaje"
                                    class="materialize-textarea validate"></textarea>
                            </div>

                            <div class="input-fields col s12">
                                <label for="food" class="left">Platos</label>

                                <textarea data-length="120" id="food" name="food" #food="ngModel"
                                    [(ngModel)]="travelService.selectedTravel.food" placeholder="Platos culturales"
                                    class="materialize-textarea validate"></textarea>
                            </div>

                            <div class="input-fields col s12">
                                <label for="hotels" class="left">Hoteles</label>

                                <textarea data-length="120" id="hotels" name="hotels" #hotels="ngModel"
                                    [(ngModel)]="travelService.selectedTravel.hotels" placeholder="Hoteles"
                                    class="materialize-textarea validate"></textarea>
                            </div>

                            <div class="input-fields col s12">
                                <label for="price" class="left">Precio</label>
                                <input class="validate" type="number" id="price" name="price" #price="ngModel"
                                    [(ngModel)]="travelService.selectedTravel.price" placeholder="Precio">
                            </div>

                            <div class="input-fields col s12">
                                <label for="type" class="left">Tipo</label>
                                <select id="type" name="type" #type="ngModel"
                                [(ngModel)]="travelService.selectedTravel.type" class="validate">
                                    <option value="0" disabled selected>Seleccione...</option>
                                    <option value="1">Premium</option>
                                    <option value="2">Estandar</option>
                                </select>
                            </div>

                            <div class="card-action">
                                <div class="input-field col s6">
                                    <button (click)="resetForm(travelForm)" type="button" style="width: 100%;"
                                        class="btn left white-text grey darken-3 waves-effect waves-light btn-small">
                                        Limpiar
                                    </button>
                                </div>
                                <div class="input-field col s6">
                                    <button style="width: 100%;"
                                        class="btn right white-text blue darken-3 waves-effect waves-light btn-small">
                                        Guardar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab">
                        <a class="active" href="#main">Principal</a>
                    </li>
                    <li class="tab">
                        <a class="" href="#archived">Archivadas</a>
                    </li>
                    <li class="tab">
                        <a href="#trash" class="">Papelera</a>
                    </li>
                </ul>
            </div>
            <div class="card-content white-text">
                <div id="main">
                    <div class="card white">
                        <div class="card-content white-text">
                            <span class="card-title black-text">
                                <b>Lista de Paquetes de Viaje</b>
                            </span>
                            <div class="row">
                                <div class="col s12" style="overflow: auto;">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix teal-text">search</i>
                                        <input type="text" id="search" autocomplete="on" name="search"
                                            placeholder="Buscar por nombre de lugar" (keyup)="getTravelsByPlaceName()">
                                        <label for="search">Buscar Paquete de Viaje</label>
                                    </div>
                                    <table class="black-text responsive-table">
                                        <thead>
                                            <th>Lugar de viaje</th>
                                            <th>Sitios turísticos</th>
                                            <th>Actividades para hacer</th>
                                            <th>Platos</th>
                                            <th>Hoteles</th>
                                            <th>Precio</th>
                                            <th>Estado</th>
                                            <th>Tipo</th>
                                            <th>Operación</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let travel of travelService.travel">
                                                <td>{{ travel.placeName }}</td>
                                                <td class="font-xs">{{ travel.places }}</td>
                                                <td class="font-xs">{{ travel.toDo }}</td>
                                                <td>{{ travel.food }}</td>
                                                <td>{{ travel.hotels }}</td>
                                                <td>{{ travel.price }}</td>
                                                <td *ngIf="travel.status == 1">
                                                    <span class="new badge green">
                                                        {{ 'Activo' }}
                                                    </span>
                                                </td>
                                                <td *ngIf="travel.type == 1">
                                                    <span class="new badge amber accent-4">
                                                        {{ 'Premium' }}
                                                    </span>
                                                </td>
                                                <td *ngIf="travel.type == 2">
                                                    <span class="new badge blue accent-3">
                                                        {{ 'Estandar' }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <button type="button"
                                                        class="btn-floating btn-large  waves-effect waves-light btn-small orange darken-1"
                                                        style="margin-left: 10px; margin-right: 10px;"
                                                        (click)="updateTravel(travel)">
                                                        <i class="material-icons white-text">edit</i>
                                                    </button>
                                                    <button type="button"
                                                        class="btn-floating btn-large waves-effect waves-light btn-small grey darken-4"
                                                        style="margin-left: 10px; margin-right: 10px; margin-top: 5px;"
                                                        (click)="updateStatusTravel(travel,travelForm)">
                                                        <i class="material-icons white-text">archive</i>
                                                    </button>
                                                    <button type="button"
                                                        class="btn-floating btn-large waves-effect waves-light btn-small red darken-3"
                                                        style="margin-left: 10px; margin-right: 10px; margin-top: 5px;"
                                                        (click)="softDeleteTravel(travel,travelForm)">
                                                        <i class="material-icons white-text">delete</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="archived">
                    <div class="card white">
                        <div class="card-content white-text">
                            <span class="card-title black-text">
                                <b>Lista de Paquetes de Viaje Archivados</b>
                            </span>
                            <div class="row">
                                <div class="col s12" style="overflow: auto;">
                                    <table class="black-text responsive-table">
                                        <thead>
                                            <th>Lugar de viaje</th>
                                            <th>Sitios turísticos</th>
                                            <th>Actividades para hacer</th>
                                            <th>Platos</th>
                                            <th>Hoteles</th>
                                            <th>Precio</th>
                                            <th>Estado</th>
                                            <th>Tipo</th>
                                            <th>Operación</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let travelAr of travelService.archived">
                                                <td>{{ travelAr.placeName }}</td>
                                                <td class="font-xs">{{ travelAr.places }}</td>
                                                <td class="font-xs">{{ travelAr.toDo }}</td>
                                                <td>{{ travelAr.food }}</td>
                                                <td>{{ travelAr.hotels }}</td>
                                                <td>{{ travelAr.price }}</td>
                                                <td *ngIf="travelAr.status == 2">
                                                    <span class="new badge purple">
                                                        {{ 'Archivado' }}
                                                    </span>
                                                </td>
                                                <td *ngIf="travel.type == 1">
                                                    <span class="new badge amber accent-4">
                                                        {{ 'Premium' }}
                                                    </span>
                                                </td>
                                                <td *ngIf="travel.type == 2">
                                                    <span class="new badge blue accent-3">
                                                        {{ 'Estandar' }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <button type="button"
                                                        class="btn-floating btn-large  waves-effect waves-light btn-small orange darken-1"
                                                        style="margin-left: 10px; margin-right: 10px;"
                                                        (click)="updateTravel(travelAr)">
                                                        <i class="material-icons white-text">edit</i>
                                                    </button>
                                                    <button type="button"
                                                        class="btn-floating btn-large waves-effect waves-light btn-small red darken-3"
                                                        style="margin-left: 10px; margin-right: 10px; margin-top: 5px;"
                                                        (click)="softDeleteTravel(travelAr,travelForm)">
                                                        <i class="material-icons white-text">delete</i>
                                                    </button>
                                                    <button type="button"
                                                        class="btn-floating btn-large waves-effect waves-light btn-small green accent-4"
                                                        style="margin-left: 10px; margin-right: 10px; margin-top: 5px;"
                                                        (click)="updateStatusTravel(travelAr,travelForm)">
                                                        <i class="material-icons white-text">trending_up</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="trash">
                    <div class="card white">
                        <div class="card-content white-text">
                            <span class="card-title black-text">
                                <b>Lista de Paquetes de Viaje Eliminados</b>
                            </span>
                            <div class="row">
                                <div class="col s12" style="overflow: auto;">
                                    <table class="black-text responsive-table">
                                        <thead>
                                            <th>Lugar de viaje</th>
                                            <th>Sitios turísticos</th>
                                            <th>Actividades para hacer</th>
                                            <th>Platos</th>
                                            <th>Hoteles</th>
                                            <th>Precio</th>
                                            <th>Estado</th>
                                            <th>Tipo</th>
                                            <th>Operación</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let travelDe of travelService.deleted">
                                                <td>{{ travelDe.placeName }}</td>
                                                <td class="font-xs">{{ travelDe.places }}</td>
                                                <td class="font-xs">{{ travelDe.toDo }}</td>
                                                <td>{{ travelDe.food }}</td>
                                                <td>{{ travelDe.hotels }}</td>
                                                <td>{{ travelDe.price }}</td>
                                                <td *ngIf="travelDe.status == 3">
                                                    <span class="new badge red">
                                                        {{ 'Eliminado' }}
                                                    </span>
                                                </td>
                                                <td *ngIf="travel.type == 1">
                                                    <span class="new badge amber accent-4">
                                                        {{ 'Premium' }}
                                                    </span>
                                                </td>
                                                <td *ngIf="travel.type == 2">
                                                    <span class="new badge blue accent-3">
                                                        {{ 'Estandar' }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <button type="button"
                                                        class="btn-floating btn-large  waves-effect waves-light btn-small orange darken-1"
                                                        style="margin-left: 10px; margin-right: 10px;"
                                                        (click)="updateTravel(travelDe)">
                                                        <i class="material-icons white-text">edit</i>
                                                    </button>
                                                    <button type="button"
                                                        class="btn-floating btn-large waves-effect waves-light btn-small green accent-4"
                                                        style="margin-left: 10px; margin-right: 10px; margin-top: 5px;"
                                                        (click)="updateStatusTravel(travelDe,travelForm)">
                                                        <i class="material-icons white-text">trending_up</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>