<nav class="bg-serious">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo ml-1">
      <!-- <img src="../assets/img/stLogoWhite.png" class="ml-2" width="65" alt="Logo"> -->
      TaskTravelPet
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="/tasks">Tareas</a>
      </li>
      <li>
        <a href="/pets">Mascotas</a>
      </li>
      <li>
        <a href="/travels">Paquetes de viaje</a>
      </li>
      <li>
        <a (click)="logOut()">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="card">
  <div class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
      little markup to use effectively.</p>
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab">
        <a href="#main">Test 1</a>
      </li>
      <li class="tab">
        <a class="active" href="#archived">Test 2</a>
      </li>
      <li class="tab">
        <a href="#trash">Test 3</a>
      </li>
    </ul>
  </div>
  <div class="card-content grey lighten-4">
    <div id="main">Test 1</div>
    <div id="archived">Test 2</div>
    <div id="trash">Test 3</div>
  </div>
</div> -->

<!-- <app-tasks></app-tasks> -->
<!-- <app-pets></app-pets> -->